<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaPresentacion.Properties.Settings.stockConnectionString"
            connectionString="Data Source=DESKTOP-RO27LM8\SQLSERVER;Initial Catalog=stock;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>